@model Expeditions.Models.Expedition

@{
    ViewData["Title"] = "Create";
}

<h4>Expedition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewExpedition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TerminationReason" class="control-label">Why was the expedition terminated?</label>
                <input asp-for="TerminationReason" class="form-control" />
                <span asp-validation-for="TerminationReason" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OxygenUsed" /> Was o2 used?
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PeakId" class="control-label">Which peak was climbed or attempted?</label>
                <select asp-for="PeakId" class ="form-control" asp-items="ViewBag.PeakId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrekkingAgencyId" class="control-label">Trekking agency used</label>
                <select asp-for="TrekkingAgencyId" class ="form-control" asp-items="ViewBag.TrekkingAgencyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
