@model ColorInterpolation
@{
    ViewData["Title"] = "Color Interpolator";
}
<h3>Interpolate from one color to another</h3>
<h6>Please enter colors in HTML hexadecimal format: #AABBCC</h6>

<div class="row">
    <div class="col">
        <form asp-controller="Color" asp-action="ColorInterpolator" method="post">
                <div class="form-group">
                    <label>First Color
                        <input type="text" name="FirstColor" class="form-control" placeholder="#AABBCC" required pattern="#[0-9A-F]{6}">
                    </label>
                </div>
                <div class="form-group">
                    <label>Second Color
                        <input type="text" name="SecondColor" class="form-control" placeholder="#123456" required pattern="#[0-9A-F]{6}">
                    </label>
                </div>
                <div class="form-group">
                    <label>Number of Colors
                        <input type="number" name="NumberOfColors" class="form-control">
                    </label>
                </div>  
            <button type="submit" class="btn btn-outline-primary">Generate Colors</button>
        </form>
    </div>
    <div class="col">
        @if (Model != null)
        {
            <table>
                <th><strong>HTML</strong></th>
                <th><strong>Color</strong></th>
                @foreach (string color in Model.ColorSet)
                {
                    <tr>
                        <td>@color</td>
                        <td style="background-color: @color; width: 150px; height: 40px;"></td>
                    </tr>
                }
            </table>
        }
    </div>
</div>