@{
    ViewData["Title"] = "Confirm";
}
    <div class="row">
        <div class="col">
            <h1>Classes Added!</h1>
            <p>Now that you have added some classes, we can organize your upcoming assignments.</p>
        </div>
        <div class="col">

            <h4>Ready to add an assignment?</h4>
            <a class="btn btn-dark" asp-controller="Assignments" asp-action="Create">Click Me</a>
        </div>
    </div>