@model HW5Project.Models.Assignments;
@{
    ViewData["Title"] = "Add";
}
<h1 class="text-center display-4 mb-5">Add</h1>
<div class="row">
    <div class="col">
        <h3>Got a new Homework Assignment?</h3>
        <p>Use this page to enter information about your assignment. Add it and then we'll keep track of it for you. We'll let you see your assignments by priority or due date so you'll never miss getting something done!</p>
        <p>Here's what each part means:</p>
        <p><strong>Priority</strong> -- 1 is the highest priority</p>
        <p><strong>Due</strong> -- due date and time (use Chrome to see a nice date/time chooser!)</p>
        <p><strong>Course</strong> -- enter it like this: CS 460, WR 355, ... and we can keep assignments for each department and course number</p>
        <p><strong>Title</strong> -- maybe "Homework #1: HTML and CSS"</p>
        <p><strong>Notes</strong> -- remind yourself what needs to be done or what's important to complete it; or just whatever you want to say about the assignment</p>
    </div>
    <div class="col">

    <form asp-action="Add" method="post">
        <div asp-validation-summary="All"></div>
        <select asp-for="Priority" class="custom-select mr-sm-2" required>
            <option selected>Priority</option>
            <option value="3">High</option>
            <option value="2">Medium</option>
            <option value="1">Low</option>
        </select>
        <div class="form-group">
            <label asp-for="DueDate">When is it due?</label>
            <input  asp-for="DueDate" type="datetime-local" class="form-control" required>
            @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> *@
        </div>
        <div class="form-group">
            <label asp-for="Course">What course?</label>
            <input asp-for="Course" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Title">Give the assignment a title:</label>
            <input asp-for="Title" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Notes">Add some notes about what you need to do to complete it:</label>
            <input asp-for="Notes" type="text" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary">Track It!</button>
    </form>


    </div>
</div>