@model IQueryable<Artist>;
@{
    ViewData["Title"] = "Home";
    var returnString = ViewBag.returnString;
}
<div class="container">
        <div class="text-center">
            <h1 class="display-3 mb-5 mt-5">Chinook Music Group</h1>
            <h4>Seach for your arist!</h4>
        </div> 
        <div class="d-flex justify-content-center mt-5">

            @using(Html.BeginForm("Index","Home", FormMethod.Get)) {
            <div class="input-group mb-5">
            <input type="text" name="artist" class="form-control" placeholder="Artist name" aria-label="Artist name" aria-describedby="button-addon2" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
            }
        </div>
</div>

        <div class="d-flex justify-content-center mt-5">

            @if (Model == null && returnString != null)
            {
                <div class="card">
                    <table class="table" style="width: auto; border-radius: 10px">
                        <thead>
                            <tr>
                                <td style="text-align: center;">Results</td>
                            </tr>
                        </thead>
                            <tr>
                                <td>@returnString</td>
                            </tr>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            }
            @if (Model != null)
            {
                <div class="card">
                <table class="table" style="width: auto; border-radius: 10px">
                    <thead>
                        <tr>
                            <td style="text-align: center;">Results</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td>Sorry, we came up with nothing :(</td>
                            </tr>
                        }
                        @foreach (Artist artist in Model)
                        {
                            <tr class="results-list">
                                <td class="results-list"><a href="/Home/Artist/@artist.ArtistId">@artist.Name</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            }

        </div>