@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
  <div class="text-center">
  <h1 class="display-4">CS460 Homework 4</h1>
  <h2 class="display-6">2020</h2>
  <p class="lead">A couple of forms and some simple server-side logic -- learning the basics of GET, POST, form data and parameter and model binding. Doing it all with ASP.NET MVC Core.</p>
  <a class="btn btn-success btn-lg" href="https://wou-cs46x-resources.netlify.app/cs460/hw/hw4.html" role="button">Here's the assignment</a>
  </div>
</div>
<hr class="my-4">
<div class="row">
    <div class="col">
        <h2 class="display-5">RGB Color</h2>
        <p>Want to know what a particular RGB color looks like? How about it's web color format? Here you go. Uses query strings to send form data to the server, which reads them in the Request object. It then performs that calculation and formats the result in a view to return to you.</p>
        <a class="btn btn-primary" asp-action="RGBColor" role="button">Try it out >></a>
    </div>
    <div class="col">
        <h2 class="display-5">Color Interpolation</h2>
        <p>Typical online color choosers are way too useful. We wanted something fun and completely useless. This form POST's the data to the server and uses parameter binding to make it easy.</p>
        <a class="btn btn-primary" asp-action="ColorInterpolator" role="button">Try it out >></a>
    </div>
</div>
