@model string
@{
    ViewData["Title"] = "RGB Color";
    string color = (@Model != "") ? "#"+ @Model : "#000";
}

<h3>Enter an RGB Color to see what it looks like!</h3>

<div class="row">
    <div class="col">
        <p>Enter values for red, green, blue to view hex and color</p>

        <form asp-controller="Home" asp-action="RGBColor" method="get">
            <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">R</div>
                </div>
                <input type="number" name="red" class="form-control" id="inlineFormInputGroup" placeholder="0 - 255" required min="0" max="255">
            </div>

            <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">G</div>
                    </div>
                <input type="number" name="green" class="form-control" id="inlineFormInputGroup" placeholder="0 - 255" required min="0" max="255">
            </div>

            <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">B</div>
                    </div>
                <input type="number" name="blue" class="form-control" id="inlineFormInputGroup" placeholder="0 - 255" required min="0" max="255">
                        </div>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-outline-primary">Display</button>
        </form>
    </div>

    <div class="col">
        <div style="height: 20em; width: 20em; background-color:@color"></div>
        <div><p>@color</p></div>
    </div>
</div>
