@{
    ViewData["Title"] = "RGB Color";
}

<h2>Enter an RGB Color to see what it looks like!</h2>
<div class="row">
    <div class="col">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">R</div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="0">
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">G</div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="0">
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">B</div>
            </div>
            <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="0">
        </div>
        <button type="submit" class="btn btn-primary">Display</button>

    </div>

</div>
