@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assignment Tracker</h1>
    <p>A new assignment tracker with added features like tagging assignments and showing completed assignments</p>
    <p>Let's get started by adding some classes that need assignments to be tracked</p>
    <a class="btn btn-dark" asp-controller="Classes" asp-action="Create">Add Classes</a>
</div>
