body {
  color: #fffffe;
  background-color: #16161a;
}
.center {
  padding: 3em 0 3em 0;
  width: 100%;
  margin: 0 auto;
}
.User {
  display: flex;
  width: auto;
  padding: 1.5em;
  background-color: #4d378f;
  border-radius: 20px;
}
.userAvatar {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
.contact {
  padding-left: 5em;
}
.link {
  padding-left: 20em;
}
.repo-links, .repo-links:hover {
  text-decoration: none;
}
#commits {
  width: 100%;
  margin: 0 auto;
}